.formstyle{
			margin: 0 auto;
			border: 1px solid white;
			padding: 10px 20px;
			margin-top: 5px;
			max-width: 550px;
		}
body {
/* background: url(https://images.unsplash.com/photo-1496867557017-559adb93b339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80) no-repeat;*/
 background-position: center;
 background-size: cover;
background: linear-gradient(to right, rgba(248,80,50,0.38) 0%, rgba(248,80,50,0.39) 0%, rgba(241,111,92,0.39) 18%, rgba(246,41,12,0.39) 43%, rgba(240,47,23,0.39) 53%, rgba(232,94,69,0.39) 76%);
 /*background: linear-gradient(to right, rgba(250,246,235,1) 0%, rgba(196,177,126,1) 25%, rgba(184,162,101,1) 74%, rgba(239,231,209,1) 100%);*/
}
.formstyle:hover{
	box-shadow: -7px 15px 25px 8px rgba(0,0,0,0.75);
}
.signup_text{
	font-size: 16px;
	text-align: center;
}
